.intro{
    font-size: 30px;
}
.introBG{
    background: no-repeat url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/373d79c1-a0eb-43e9-87da-f64a9e08cbf2/dur8gy-2286eb12-d672-4f75-b157-0ccd27d33bf5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM3M2Q3OWMxLWEwZWItNDNlOS04N2RhLWY2NGE5ZTA4Y2JmMlwvZHVyOGd5LTIyODZlYjEyLWQ2NzItNGY3NS1iMTU3LTBjY2QyN2QzM2JmNS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.zAzDYnP2AITJW-OZufxBpQpkT4YMSyVdGhEeVR_2jL4");
}
.inQuestionImportant{
    font-style: italic;
    text-decoration: underline;
}
.background{
    background-color: white;
}
.buttonLeo{
    background-color: rgb(233, 233, 233);
}
.buttonLeo:hover{
    background-color: rgb(183, 183, 183);
}